html {
    
    background-image: url("../../images/banniere.jpg");
    
}

.image {
    
    
    text-align: center;
    width: 50%;
}
    

table {
    
    background-color: #DED8DC;
        
}

td {
    
    border: 2px solid #8b183f;

}

tr td {
    
    text-align: justify;
    font-size: 20px;
    font-family: qlassik;
}